.rating-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.rating-container > * {
  margin: 0.8rem 0;
}

.rating-examples {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 50%;
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  outline: none;
}

.rating {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 0;
}

.star-icon {
  color: var(--secondary-color);
}

.star-active > i {
  color: var(--accent-color);
}

.heart-active > i {
  color: var(--focus-color-primary);
}

.read-only {
  pointer-events: none;
}

.disabled {
  background: none;
  opacity: 0.7;
}

.feedback {
  padding: 0 0.8rem;
}

@media screen and (max-width: 648px) {
  .rating-examples {
    width: 100%;
    padding: 0.5rem 0;
  }

  .rating {
    align-items: center;
  }
}
