.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-container > * {
  margin: 0.8rem 0;
}

.modal-examples {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  padding: 1rem;
  transition: all 0.3s ease;
  background-color: rgba(45, 55, 76, 0.4);
}

.modal-content {
  display: flex;
  padding: 1rem;
  background-color: var(--secondary-color);
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.close {
  position: relative;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--accent-color);
  outline: none;
  border-radius: 0.5rem;
}
