@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://mind-ui-library.netlify.app/style.css");

/* :root {
  --background-color: #1a202c;
  --accent-color: #fd7014;
  --text-color: rgba(255, 255, 255, 0.92);
  --heading-color: #1a1e2c;
  --light-color: #eeeeee;
  --secondary-color: #393e46;
  --transparent-color: rgba(226, 232, 240, 0.16);
  --focus-color-primary: #993d01;
  --hover-color-primary: #ed5f02;
  --hover-color-secondary: #2a2d33;
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--background-color);
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
} */

.grid-row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 1rem;
}

.grid-col {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  margin-top: 6rem;
}

.heading {
  display: grid;
  grid-column: 1/4;
  text-align: center;
}

.heading-text {
  padding: 0rem 3rem;
}

.intro {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--heading-color);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-overflow: clip;
  text-align: center;
}

.list-style {
  display: inline-block;
  list-style: none;
}

.navbar {
  display: flex;
}

.list-item {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.list-style > li > a {
  text-decoration: none;
  color: var(--text-color);
}

.left-nav {
  overflow: hidden;
  position: sticky;
  top: 6rem;
  overflow-y: auto;
  padding-right: 2rem;
  height: calc(((100vh - 1.5rem) - 84px) - 42px);
}

.heading-text > * {
  text-decoration: none;
  color: var(--text-color);
}

a {
  color: var(--accent-color);
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 648px) {
  .grid-row {
    display: grid;
    position: relative;
    top: 0;
    right: 0;
    grid-template-columns: 1fr;
    column-gap: 0;
    transition: all 0.9s ease;
  }

  .grid-col:nth-child(1) {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    position: absolute;
    margin-top: 6rem;
    opacity: 1;
    z-index: 6;
    width: 100%;
    height: 100%;
    background: var(--heading-color);
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all 0.5s ease;
  }

  .mobile-menu {
    display: flex;
    position: fixed;
    top: 0.5rem;
    padding-left: 1rem;
    z-index: 13;
  }

  .list-style {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex: 1;
    justify-content: space-around;
  }

  .navbar {
    display: none;
  }
}
