.button-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
}

.button-container > * {
  margin: 0.8rem 0;
}

/* .button-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  width: 50%;
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  outline: none;
}

.button {
  font-weight: 500;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.button-primary {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.button-primary:hover {
  border: 2px solid var(--hover-color-primary);
  background-color: var(--hover-color-primary);
  transition: 0.2s;
}

.button-primary:focus {
  border: 2px solid var(--focus-color-primary);
  transition: 0.2s;
}

.button-secondary {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

.button-secondary:hover {
  border: 2px solid var(--hover-color-secondary);
  background-color: var(--hover-color-secondary);
  transition: 0.2s;
}

.button-secondary:focus {
  border: 2px solid var(--text-color);
  transition: 0.2s;
}

.button-sm {
  font-size: 0.5rem;
  padding: 0.5rem;
}

.button-md {
  font-size: 0.8rem;
  padding: 0.8rem;
}

.button-lg {
  font-size: 1.3rem;
  padding: 1.3rem;
}

.button-icon {
  padding: 0.5rem;
  color: black;
}

.button-floating {
  position: relative;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  color: white;
  box-sizing: border-box;
  border-radius: 100%;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  outline-style: none;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.button-floating:hover {
  border: 2px solid var(--hover-color-primary);
  background-color: var(--hover-color-primary);
  transition: 0.2s;
}

.button-floating:focus {
  border: 2px solid var(--focus-color-primary);
  transition: 0.2s;
}

.button-link > a {
  text-decoration: none;
  color: var(--text-color);
}

.button-link:hover {
  text-decoration: underline;
} */
